* { margin: 0; padding: 0; }
html {
  scroll-behavior: smooth;
  background: linear-gradient(180deg, #496B84 0%, #496B84 36.98%, #051730 100%);
  background-size: cover;
  position: relative;
  width: 1440px;
  height: 2568px;
}

.main {
  width: 100%;
}


/*Button*/
button {
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 5px 56px;
width: 134px;
height: 32px;
left: 1252px;
top: 24px;
background: #F7961B;
border-radius: 52px;
font-family: ibm plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.16em;

color: #FFFFFF;

}

.see-team-button button {
  background: #F7961B;
border-radius: 52px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.16em;
}


h1 {
  font-family: IBM Plex Sans;
font-style: semibold;
font-weight: 600;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.12em;
color: #FFFFFF;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
margin-bottom: 25px;
}




.block {
  display: inline-block;
  background: #5b7a90;
  border-radius: 12px;
  justify-content: center;
  padding: 40px;
  margin-right: 5px;

}


.block img {
 max-width:400px;
 max-height:300px;
 width: auto;
 height: auto;
}


#season-2 {
  margin-left: 100px;
}





a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;

}

b {
  color: #292c6a;
}
a:active {
  text-decoration: none;
}
body {
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #222D62; }

    .learn-more {
      text-decoration: none;
      color: #222D62;
      text-align: left;
    }





ul {

  font-size: medium;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.column-persona {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


p { line-height: 1.8;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  font-size: 16px;
color:#292C6A ;}

}
.img-responsive-about {
    display: block;
    width: 25%;}
.img-responsive {display: block;
    width: 100%;}
.about-photo{
      margin-top: 100px;
      width: 100%;
    }
.project-item {
  overflow: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.project-item-photography {

  padding-bottom: 25px;
}
.project-subtitle h3 {
  color: #454545;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 25px;
  text-transform: none;
  font-family: 'Mukta', sans-serif;
}

#about-copy {
  margin-top: 100px;
  margin-bottom: 100px;
}

.project-subtitle h4 {
  color: #858585;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-family: 'Mukta', sans-serif;
  margin-top: 10px;
}

.project-overlay h3 {
  color: #454545;
  font-weight: normal;
  margin-top: 6px;
}
#imageSection {
  margin-top: 5em;
  max-width: 100%;
}
.daily-ui {
  margin-top: 5em;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.project-overlay h4 {
  color: #858585;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

#project .project-overlay {
  padding: 12px 0 26px 0px;
}

.project-detail-text {
  padding: 62px 82px;
}

.project-detail-info {
  padding: 12px 0 62px 0;
}

.project-detail-info h3:last-child {
  margin-top: 0;
}

#project-detail-links {
  background: #5050FF;
  padding: 82px 0 102px 0;
  margin-top: 102px;
}

#project-detail-links h3 {
  color: #e0e0e0;
}

#project-detail-links p a {
  color: #ffffff;
  font-size: 32px;
}



li { list-style-type: none; }

 }


::selection {
    background: #000000;
    color: #ffffff; }
::-moz-selection {
    background: #ffb7b7; }

.arrow {
  height: 50px;
  width: 50px;
  margin-bottom: -20px;
}
/*Button*/
button {
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 5px 56px;
position: absolute;
width: 134px;
height: 32px;
left: 1252px;
top: 24px;
background: #F7961B;
border-radius: 52px;

}





/*Transition*/
.gallery img, .blog-content img, .submit button {
    transition: all 0.4s ease; }

/*
--Navigation--
*/

.nav {
    margin-top: 50px;
    text-transform: uppercase;
    height: 51px; }

.hamburger {
    display: none;
    text-align: right;
    color: #EE6B62;}



.nav-links {
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 3;
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    padding-left: 10px;

    width: 100%;
 }

.nav-link a { line-height: 51px;
text-decoration: none;
color:#222D62}

.nav-link { border-bottom: 2px solid transparent; }

.nav-link:hover {
    cursor: pointer; }


/*Focus on Contact*/
.nav-link.focus a { color: #000000; }

/*
--Greetings--
*/

.greetings { margin: 150px 0 150px 0;}

.greetings p {
    margin-top: 20px;
    color: #292C6A;
    text-align: left;
    margin-left: 10px;
    margin-right: 30em;}

/*
--Divider--
*/

.divider {
    margin-top: 150px;
    margin-bottom: 25px; }

.triangles {
    height: 20px;
    background: url("../images/triangle.svg") repeat-x; }

/*
--Footer--
*/

.footer { margin-bottom: 25px; }
.footer { margin-top: 100px; }
.footer-col {
  padding-bottom: 15px;
  padding-top: 30px;
margin-left: 30px;
 }
 .footer h5 {
   color:#f7b1c1;
 }

.footer p { padding-bottom: 5px; }
.footer img {
  height: 25px;
  width: 80%;
  align-items: right;
  margin-left: 25px;
  margin-right: 1em;
  color:#c2d6db
}

.footer .row {
  justify-content: right;


}
.footer-left {
margin-left: 10%;

}
#made-with-love {
  text-align: right;
  margin-left: 50%;
}

/*
--Media Queries--
*/
@media screen and (max-width: 1300px) {
    .flex: 0 0 100%;
.max-width: 1300px;

.block {
  display: inline-block;
  background: #5b7a90;
  border-radius: 12px;
  justify-content: center;
  padding: 40px;
  margin-right: 5px;

}


.block img {
 max-width:400px;
 max-height:300px;
 width: auto;
 height: auto;
}


}


/*Going to col-md*/
@media screen and (max-width: 992px) {
    .hamburger { display: block; }
    .nav-links { display: none; }
    .logo {
      height: 50px;
      width: 50px;
      padding-bottom: 200px;}

      .about-photo {
        margin-top: 200px;
        width: 100%;
      }
      .about-text {
        font-size: 18px;
        margin-right: 100px ;
      }
      .nav-links {

      margin-top: -100px;
      text-align: right;}


      .nav-link a {
        line-height: 40px;
        text-decoration: none;
      }

      #experience-squiggle {
        width: 300px;
      }

      #education-details{
        padding-left: 100px;
      }

      #experience-body {
        margin-right: 10%;
      }

      #made-love {
        margin-left: 40%;
      }

      .squiggle-project-header {
        width: 15%;
        margin-left: -10px;
        margin-top: 0px;
      }

      .footer-left {
        margin-left: 15%;

        }

}

@media screen and (max-width: 800px) {

  .footer-left {
    margin-left: 10%;

    }

  }







@media screen and (max-width: 576px) {
  #intro-name{
    text-align: left;
    font-size:30px;
      margin-left: 25px;
  }

  .squiggle {
    width: 40%;
    margin-left: -2%;
  }
  .intro-name-about{
    text-align: left;
    font-size:18px;
    margin-left: 10em;
    margin-top: 10px;
  }

  .about-text {
    font-size: 16px;
    margin-right: 25px;
    margin-left:25px  ;
  }
.about-subhead {
  margin-left: 25px;
}
  #intro-name-about:hover {
    background-color: #F9D477;
  }


  .hamburger {
    color: grey;
  }
  .greetings p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
  }
  .learn-more {
    text-align: left;
  }
  h2 {
    text-align: left;
    margin-left: 25px;

  }

  .img-responsive-about {
      display: block;
      width: 100%;
    padding: 25px;}

}

.resume-blob-top {
  position: absolute;
  top:281px;
  left: -0px;
  z-index: -1;
  display: block;
  width: 100%;
}
.squiggle-project-header {
  width: 15%;
  margin-left: -10px;
  margin-top: 0px;
}

.footer-left {
  margin-left: 15%;

  }

}



@media screen and (max-width:1024px) {
  #intro-name{
    text-align: left;
    font-size:30px;
      margin-left: 25px;
  }
  #intro-name-about{
    text-align: left;
    font-size:30px;
    margin-left: 25px;
    margin-bottom: 100px;
  }
  .logo {
    margin-left: 25px;
  }
  .hamburger {
    color: grey;
  }
  .greetings p {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
  }
  .learn-more {
    text-align: left;
  }
  h2 {
    text-align: left;
      margin-left: 25px;
  }
  .more-information {
      margin-top: 15px; }

  .more-information h2 {
      margin-top: 45px; }

      .squiggle-project-header {
        width: 15%;
        margin-left: -10px;
        margin-top: 0px;
      }

}

@media screen and (max-width: 400px) {
h6 {
  font-size: 40px;
  }
h7 {
  font-size: 50px;
  width: 80%;

}
.squiggle-resume-header {
  width: 50%;
}
.resume-squiggle {
  width: 100%;
}
#education-details {
  padding-left: 25px;
}

#education-body {
  margin-right: 10px;
}
#year {
  margin-left
}

.squiggle-about-header {
  width: 70%;
  margin-left: -20px;
  margin-top: 0px;
}
.intro-name-about {
  margin-left: 25px;
}

.about-photo {
  width: 80%;
  margin-left: 25px;
}

.squiggle-project-header {
  width: 30%;
  margin-left: -10px;
  margin-top: 0px;
}

.project-photo {
  width: 100%;
  margin-top: 10%;
}

.footer-left {
  margin-left: 10%;

  }

}

@media screen and (max-width: 800px) {

  .footer-left {
    margin-left: 10%;

    }

  }
